@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

@supports (-webkit-appearance:none) and (x:0) and (not (R:0)) {
    /* .info-bullet__icon-grey{margin-left:115px;}
    .block-headline__icon::after{top: 111px; left: -112px;}
    .block-headline__icon--profile::after{left: -110px}
    .block-headline__icon-skills::after{left: -110px}
    .block-headline__icon-links::after{left: -110px}
    .info-bullet__icon-grey-info::after{left: -16px} */
    .block-head-line__icon-grey::after{
        transform: rotate(45deg) translate(-35%, 62%);
    }
}

/* specific CSS applied to simulate text-align-last:justify */

@supports not ((display:flex) or (display: inline-flex) or (flex-direction: row) or (justify-content: space-around)){
    .info-bullet__icon-grey{margin-left:115px;}
    .block-headline__icon::after{top: 111px; left: -112px;}
    .block-headline__icon--profile::after{left: -110px}
    .block-headline__icon-skills::after{left: -110px}
    .block-headline__icon-links::after{left: -110px}
    .info-bullet__icon-grey-info::after{left: -16px}
}

/* specific CSS applied to simulate text-align-last:justify ENDyarn */

/* IE9+ */

@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
    .info-bullet__icon-grey{margin-left:15px;}
    .block-headline__icon::after{top: 11px; left: -2px;}
    .block-headline__icon--profile::after{left: -10px}
    .block-headline__icon-skills::after{left: -10px}
    .block-headline__icon-links::after{left: -10px}
    .info-bullet__icon-grey-info::after{left: -6px}
}

/* IE9+ END */

.body, .body::-webkit-scrollbar { 
    width: 0;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none; 
}

/* MEDIA QUERIES */


@media screen and (max-width: 1410px) {
    .left-side__column { 
        width: 29%;
    }

    .block-headline__text-grey--experience::after {
        width: 76%;
    }
    
    .block-headline__text-skills--right::after {
        width: 69%;
    }

    .block-headline__text-personal::after {
        width: 80%;
    }

    .block-headline__text-education::after {
        width: 72.5%;
    }

    .block-headline__text-additional::after {
        width: 81.5%;
    }
}

@media screen and (max-width: 1275px) {
    .left-side__column { 
        width: 32%;
    }
}

@media screen and (max-width: 1200px) {
    .left-side__column { 
        width: 38%;
    }

    .block-headline__text-grey--experience::after {
        width: 76%;
    }
    
    .block-headline__text-skills--right::after {
        width: 69%;
    }

    .block-headline__text-personal::after {
        width: 80%;
    }

    .block-headline__text-education::after {
        width: 72.5%;
    }

    .block-headline__text-additional::after {
        width: 81.5%;
    }
}

@media screen and (max-width: 1100px) {
    .left-side__column { 
        width: 42%;
    }
}

@media screen and (max-width: 1000px) {

    .info-bullet__links-container{
        padding-bottom: 20px;
        display: flex;
        word-break: break-all;
    }
     
    div.menu-button__container--sticky {
        position: fixed;
        height: 60px!Important;
        box-shadow: 1px 1px 1px #111;
        padding: 0px 20px 0px 29px!Important;
        margin: 0;
        left: 0px;
        background-color: #f4f6f8;
        z-index: 1000;
        width: 100%;
    }
    
    .menu-button--sticky {
        position: fixed;
        top: 15px;
        background: transparent;
    }
    
    .personal-name--sticky {
        top: 7px;
        right: 2%;
    }

    .left-side__column {
        width: 37%;
        position: absolute;
        left: -620px;
        transition: left 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95), box-shadow 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        box-shadow: 6px -3px 7px #312c2c;
        z-index: 10000;
    }

    .left-side__column--opened {
        box-shadow: 6px -3px 7px #312c2c, 19px -200px 200px 2000px #312c2c8f;
     }

    .left-side__column::after {
        content: "";
    }

    .left-side__column--view {
        position: absolute;
        left: 0;
    }

    .right-side__column {
        padding: 0px 40px 0px 40px;
        width: 100%;
        line-height: 1.5;
    }

    .right-side__column--view {
        position: fixed;
    }

    .personal-name {
        float: right;
        display: block;
        text-align: right;
        position: relative;
    }

    .menu-button {
        cursor: pointer;
        display: inline-block;
        background: transparent;
        position: relative;
    }

    .menu-button--close {
        cursor: pointer;
        background: transparent;
        color: white;
    }
    
    .menu-button__container {
        width: 100%;
        height: 85px;
        padding: 20px 20px 20px 0px;
        position: relative;
    }

    .menu-button__container--hide {
        padding: 20px 20px 20px 13px !important;
    }
}

@media screen and (max-width: 900px) {

}

@media screen and (max-width: 600px) {
    .block-headline__text-grey {
        width: 72%!Important;
    }

    .block__text-grey {
        width: 83%!Important;
    }
}

@media screen and (max-width: 436px) {

}

@media screen and (min-width: 1410px) {

    .block-headline__text-grey--experience::after {
        width: 80%;
    }
    
    .block-headline__text-skills--right::after {
        width: 74.5%;
    }

    .block-headline__text-personal::after {
        width: 80%;
    }

    .block-headline__text-education::after {
        width: 72.5%;
    }

    .block-headline__text-additional::after {
        width: 81.5%;
    }
}

@media screen and (min-width: 1000px) {

    span[name=marketing] {
        word-break: break-all;
    }

    .info-bullet__contacts {
        display: flex;
    }

    .info-bullets__text-contacts {
        word-break: break-all;
    }

    .info-bullet__links-container {
        display: flex;
        flex-direction: row;
        word-break: break-all;
    }

    .info-bullet__text-links {
        word-break: break-all;
    }

    .info-bullet__text-links::hover {
        word-break: break-all;
    }

    .block-headline__text-personal::after {
        width: 75%;
    }

    .block-headline__text-education::after {
        width: 66.5%;
    }

    .block-headline__text-additional::after {
        width: 77.5%;
    }
}

@media screen and (min-width: 1000px) {
    .left-side__column { 
        box-shadow: inset -8px -5px 7px #312c2c;
        width: 25%;
    }

    .right-side__column {
        padding: 0px 40px 0px 40px;
        width: 75%;
        line-height: 1.5;
    }

    .menu-button__container {
        display: none;
    }

    .personal-name {
        display: none;
    }
}

@media screen and (min-width: 600px) {

    .block-headline__text-grey {
        width: 93%;
    }

    .info-bullets {
        padding: 40px 20px 0px 34px;
    }

    .block-headline__text-grey {
        width: 93%;
    }

    .skills__bullets-first {
        width: 50%;
    }

    .skills__bullets-second {
        width: 50%;
    }

    .skills__bullets {
        padding: 40px 20px 0px 34px;
    }

    .skills-bullet {
        padding-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .skills-bullet__icon {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 7%;
        margin: 0px 15px 0px 15px;
    }
    
    .skills-bullet__text {
        display: inline-block;
        width: 40%;
    }
    
    .skills-bullet__graph-line {
        width: 45%;
        height: 14px;
        position: relative;
        top: 2px;
        border: 2px solid #ffffff;
        border-radius: 20px;
        background-color: #383838;
    }
    
    .skills-bullet__graph-line::after {
        content: "";
        position: absolute;
        width: 85%;
        left: -2px;
        height: 6px;
        background: #ffffff;
        border: 2px solid #fff;
        border-radius: 20px;
    }

    .skills-bullet__graph-line--grey {
        left: 0px;
    }

    .skills-bullet__graph-line--grey {
        background-color: #ffffff1c;
        border: 2px solid #fff;
        width: 60%;
        left: -17px;
    }
    
    .skills-bullet__graph-line--grey::after {
        border: 2px solid #383838;
        width: 88%;
        background-color: #383838;
    }

    .skills-bullet__graph-line--frontend {
        width: 60%;
    }

    .education-bullet__text {
        padding: 40px 20px 0px 33px;
    }

    
    .block-headline__text-contacts {
        width: 100%;
    }

    .block-headline__text-skills--personal {
        width: 70%;       
    }

    .block-headline__text-links--connect {
        width: 70%;        
    }

    .block-headline__text--profile {
        width: 73%;        
    }

    .block-headline__text-contacts::after {
        width: 56.7%;
    }

    .block-headline__text-skills--personal::after {
        width: 33%;       
    }

    .block-headline__text-links--connect::after {
        width: 59.7%;        
    }

    .block-headline__text--profile::after {
        width: 48.3%;        
    }

    .block-headline__icon--profile {
        width: 90px;
        margin-left: 35px;
    }

    .info-bullet__icon-contacts {
        width: 90px;
        margin-left: 25px;
        margin-right: 20px!Important;        
    }

    .block-headline__icon-skills {
        width: 90px;
        margin-left: 35px;           
    }

    .block-headline__icon-links {
        width: 90px;
        margin-left: 35px;  
    }
    
    .info-bullet__contacts {
        width: 100%;
    }

    .info-bullet__icon-contacts {
        width: 22px;
        height: 21px;
    }

    .block-headline__text-contacts {
        display: inline-block;
        width: 73%;
    }

    .info-bullets__contacts-block {
        padding: 40px 20px 0px 50px;
    }

    .info-bullets__links-block {
        padding: 40px 20px 0px 43px;
    }

    .skills-bullet__graph-line-frontend {
        width: 46%;
    }

    .additional__text {
        padding: 40px 20px 0px 34px;
    }

    .personal__text {
        margin: 40px 20px 20px 34px;
        line-height: 1.5;
    }

    .block-headline__text > span[name=person] {
        width: 58.7%; 
    }

    .block-headline__text > span[name=connect] {
        width: 32%; 
    }

    .block-headline__text > span[name=contacts] {
        width: 35%; 
    }

    .info-bullet__icon-links {
        margin: 0px 15px 0px 3px;
        width: 28px;
    }

    .info-bullet__icon {
        display: inline-block;
        margin: 0px 15px 0px 0px;
    }
}

@media screen and (max-width: 800px) and (min-width: 600px){ 

    .left-side__column {
        width: 56%;
    }

    .skills__bullets-first {
        width: 100%;
    }
    
    .skills__bullets-second {
        width: 100%;
    }

}


@media screen and (max-width: 600px) and (min-width: 300px){

    div.menu-button__container--sticky {
        position: fixed;
        height: 60px!Important;
        box-shadow: 1px 1px 1px #111;
        padding: 0px 20px 0px 29px!Important;
        margin: 0;
        left: 0px;
        background-color: #f4f6f8;
        z-index: 1000;
    }
    
    .menu-button--sticky {
        padding-left: 11px;
        left: 20px;
        position: fixed;
        top: 15px;
    }
    
    .personal-name--sticky {
        top: 7px;
        right: 2%;
    }

    .left-side__column {
        width: 100%;
    }

    .block-headline__icon--profile {
        margin-left: 25px;
    }

    .block-headline__text--profile {
        width: calc(100% - 70px);

    }

    .block-headline__text--profile::after {
        width: 73%;
    }

    .info-bullet__icon-contacts {
        margin-left: 25px;
    }

    .block-headline__text-contacts {
        width: calc(100% - 70px);
    }

    .info-bullets__contacts-block {
        padding: 40px 0px 0px 48px;
    }

    .block-headline__text-contacts::after {
        width: 57%;
    }

    .info-bullets__icon-contacts {
        display: inline-block;
        margin: 0px 20px 0px 37px;
    }

    .block-headline__icon-skills {
        margin-left: 23px;
    }

    .block-headline__text-skills--personal {
        width: calc(100% - 70px);
    }

    .block-headline__text-skills--personal::after {
        width: 73%;
    }

    .block-headline__icon-links {
        margin-left: 24px;
    }

    .block-headline__text-links--connect {
        width: calc(100% - 70px);
    }

    .block-headline__text-links--connect::after {
        width: 73%;
    }

    .skills-bullet__graph-line--white::after {
        border: 2px solid #ffffff!Important;
        background-color: #fffffffc!Important;
    }

    .skills__bullets--white {
        margin-top: 29px;
    }

    .skills-bullet__icon--white {
        margin: 0;
        padding-bottom: 8px;
    }

    .skills-bullet__text--white {
        padding-bottom: 8px;
    }

    .info-bullet__icon-grey {
        display: inline-block;
        margin-right: 8px;
    }

    .info-bullet__icon-links {
        margin: 0px 11px 0px 34px;
        display: inline-block;
    }

    .block-headline__text-grey {
        width: 93%;
    }

    .menu-button__container {
        padding: 20px 20px 0px 0px;
        height: 46px;
        position: relative;
    }

    .info-bullet__button--more {
        width: 46%!Important;
    }

    .info-bullets {
        padding: 40px 0px 0px 10px;
    }

    .block-headline__text-grey {
        width: 86%;
    }

    .skills__bullets-first {
        width: 100%;
    }
    
    .skills__bullets-second {
        width: 100%;
    }

    .skills__bullets {
        padding: 0px;
    }

    .skills-bullet {
        padding-bottom: 34px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: column;
        text-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    
    .skills-bullet__icon {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 7%;
        margin: 0px 15px 0px 6px;
    }
    
    .skills-bullet__text {
        display: inline-block;
        width: 40%;
    }
    
    .skills-bullet__graph-line {
        width: 45%;
        height: 14px;
        position: relative;
        top: 2px;
        border: 2px solid #ffffff;
        border-radius: 20px;
        background-color: #ffffff0a;
    }
    
    .skills-bullet__graph-line::after {
        content: "";
        position: absolute;
        width: 85%;
        left: -2px;
        height: 6px;
        background: #383838;
        border: 2px solid #383838;
        border-radius: 20px;
    }

    .skills-bullet__graph-line--frontend {
        width: 60%;
    }

    .bullets__title {
        margin-top: 34px;
        font-weight: bold;
        text-align: center;
    }

    .education-bullet__text {
        padding: 40px 0px 0px 10px;
    }

    .education__title {
        width: 80%;
    }

    .additional__text {
        padding: 40px 0px 0px 10px;
    }

    .personal__text {
        margin: 40px 0px 20px 10px;
        line-height: 1.5;
    }
}

/* MEDIA QUERIES END */

/* RESET START */
*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body{
    height:100%;
    margin: 0;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    background-color: #f4f6f8;
    min-width: 320px;
  }


  h1, h2, h3, h4, h5, h6, p{
    margin: 0;
  }
  ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
  }

  p > a {
      color: #fff;
      transition: all 0.3s linear;
  }

  p > a:hover {
    color: #0b3df7;
  }

  a{
    color: #111;
  }
  a, a:hover{
    text-decoration: none;
  }
  img{
    max-width: 100%;
  }
  input, textarea, button{
    outline: none;
    border: none;
  }
  textarea{
    resize: vertical;
  }
  button{
    cursor: pointer;
  }
  label{
    margin-bottom: 0;
  }
  select, select:hover{
    color: inherit;
    background: #fff;
  }
  option, option:hover{
    color: inherit;
    background: #fff;
  }
  ::-webkit-input-placeholder {-webkit-transition: all .3s linear;transition: all .3s linear;   color: rgba(255, 255, 255, .8);}
  ::-moz-placeholder          {-webkit-transition: all .3s linear;transition: all .3s linear;   color: rgba(255, 255, 255, .8);}
  :-moz-placeholder           {-webkit-transition: all .3s linear;transition: all .3s linear;   color: rgba(255, 255, 255, .8);}
  :-ms-input-placeholder      {-webkit-transition: all .3s linear;transition: all .3s linear;   color: rgba(255, 255, 255, .8);}
  :focus::-webkit-input-placeholder {color: transparent}
  :focus::-moz-placeholder          {color: transparent}
  :focus:-moz-placeholder           {color: transparent}
  :focus:-ms-input-placeholder      {color: transparent}
  /* RESET END */

  /* ANIMATE */


  .view {
    height: 163px;
    overflow: hidden;
    -webkit-animation: delay-overflow 1s linear;
    animation: delay-overflow 1s linear;
  }
  
  @keyframes delay-overflow {
    0% { 
        height: 163px; 
    }

    100% {
        height: 100%; 
        overflow: visible;
    }
  }

  .little-circle--white {
    border: 1px solid #ffffff;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: 13px;
    width: 10px;
    height: 10px;
    -webkit-animation: load1 0.2s infinite linear;
    animation: load1 0.2s infinite linear;
}

.little-circle--grey {
    border: 1px solid #383838;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 9%;
    left: 5.5%;
    width: 10px;
    height: 10px;
    -webkit-animation: load1 0.2s linear;
    animation: load1 0.2s linear;
}

@-webkit-keyframes load1 {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(5);
        opacity: 0;
    }
  }
  
  @keyframes load1 {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(5);
        opacity: 0;
    }
  }

.preloader {
    z-index: 10000;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-color: #ececec;
    transition: all 0.5s linear;
}

.preloader-hide {
    z-index: -1;
    opacity: 0;
}

.loader,
.loader::after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgb(255, 255, 255);
  border-right: 1.1em solid rgb(255, 255, 255);
  border-bottom: 1.1em solid rgb(255, 255, 255);
  border-left: 1.1em solid #383838;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

  /* ANIMATE END */



#root {
    display: flex;
    max-width: 1400px;
}

.social__container--text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    padding: 20px;
    text-align: center;
}

.social__container--buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}

.social__container--button {
    background: #383838;
    color: #fff;
    width: 146px;
    height: 35px;
    border: 1px solid #383838;
    border-radius: 22px;
    transition: all 0.3s linear;
}

.social__container--button:hover {
    box-shadow: 0px 2px 6px #111;
    background: #223cf1;
    border: 1px solid #223cf1;
}

.social__icon {
    margin-right: 4%;
}

.left-side__column {
    background: #383838;
}

.block-headline {
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: flex-start;
    padding-top: 60px;
}

.block-headline__icon {
    width: 51px;
    height: 51px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    transform: rotate(45deg);
    margin-right: 20px;
}


.block-headline__icon-first {
    display: flex;
}

.block-headline__text {
    display: inline-block;
    font-weight: 700;
}

.block-headline__text::after {
    background-color: #fff;
    content: "";
    height: 2px;
    margin-left: 20px;
    display: inline-flex;
    vertical-align: middle;
}

.block-headline__text > span {
    display: inline-block;
}

/* MAIN PHOTO */

.mainPhoto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainPhoto-container__photo {
    padding-top: 50px;
}

.mainPhoto-container__photo > img {
    width: 200px;
    height: auto;
    border: 1px solid #fff;
    border-radius: 100%;
}

.mainPhoto-container__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mainPhoto-container__title > h1 {
    padding-top: 10px;
}

.mainPhoto-container__title > h2 {
    font-weight: 100;
    padding-top: 10px;
}

.mainPhoto-container__sitate > p:first-child{
    font-style: italic;
    line-height: 1.5;
    text-align: center;
    margin-top: 57px;
    margin-bottom: 8px;
    max-width: 263px;
}

.mainPhoto-container__sitate > p:last-child{
    font-size: 12px;
    text-align: center;
}

/* MAIN PHOTO END */

/* PROFILE */

.profile-info__text > p {
    margin: 40px 20px 20px 60px;
    line-height: 1.5;
}

/* PROFILE END*/

/* CONTACTS */

.info-bullet {
    padding-bottom: 20px;
}

.info-bullet__text {
    display: inline-block;
}

.info-bullets__icon-contacts {
    transform: rotate(45deg);
}

.info-bullet__icon {
    transform: rotate(45deg);
    border: none!Important;
}

.menu-button  > .svg-inline--fa {
    transform: rotate(180deg);
}

.skills-bullet__icon > .svg-inline--fa {
    transform: rotate(0deg);
}

/* CONTACTS END */

/* SKILLS */


.skills-bullet__graph-line--backend {
    width: 45%;
}

.skills-bullet__graph-line-frontend::after {
    width: 90%;
    left: -2px;
}

.skills-bullet__graph-line--frontend::after {
    width: 100%;
    left: -2px;
}

.skills-bullet__graph-line--backend::after {
    width: 100%;
    left: -2px;
}

/* SKILLS END*/

/* CONNECT */

.info-bullet__text-links--stackoverflow {
    padding-left: 3px;
}

.info-bullet__text-links {
    vertical-align: top;
    padding-top: 8px;
    display: inline-block;
}

.info-bullet__text-links a {
    color: #fff;
    transition: all 0.3s linear;
}

.info-bullet__text-links a:hover {
    color: #0b3df7;
}

.menu-button:active {
    color: #0b3df7;
}

.menu-button--white:active {
    color: #0b3df7;
}

/* CONNECT END */

/* FOOTER */

.footer {
    padding: 60px 40px 20px 30px;
}

.footer p{
    font-size: 12px;
    line-height: 2;
}

.footer a {
    color: #0b3df7;
}

/* FOOTER END */

/* RIGHT-COLUMN */

.right-side__column {
    color: #383838;
}

.block-headline__text-grey::after {
    background-color: #383838;
}

.info-bullet__icon-grey {
    vertical-align: top;
    border: 2px solid #383838;
}

/* .info-bullet__icon-grey::after {
    border: 2px solid #383838;
} */

.svg-inline--fa {
    transform: rotate(-45deg);
}

.block-headline__grey {
    justify-content: flex-start;
}


.info-bullet__grey {
    padding-bottom: 35px;
}

.info-bullet__button--more {
    display: block;
    width: 20%;
    height: 26%;
    background: transparent;
    color: #383838;
    transition: all .1s ease-in;
}

.info-bullet__button--more:hover {
    border-bottom: 3px solid #111;
    padding-bottom: 20px;
}

.info-bullet__button--more__container {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(244, 246, 248) 50%, rgb(244, 246, 248) 100%);
    display: block;
    position: relative;
    top: -46px;
    width: 100%;
    height: 87px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transition: all 0.15s ease-out;
}

.info-bullet__grey:last-child {
    padding-bottom: 0px;
}

.block-headline__text-grey--overflow {
    max-height: 163px;
    overflow: hidden;
    transition: max-height 1s ease-out;;
}

.block-headline__text-grey--view {
    height: 100%;
    overflow: inherit;
    transition: all 1s linear;
}

/* EXPERIENCE */

.experience__title {
    margin-bottom: 15px;
}

.experience__title p {
    color: #a0a0a0;
    font-size: 14px;
    padding-top: 3px;
}

.experience__text li{
    list-style-type: disc;
}

.experience__text ul{
    margin-left: 20px;
}

.block-headline__experience {
    width: 100%;
}

/* EXPERIENCE END */

/* SKILLS RIGHT */

.skills__bullets-first {
    display: inline-block;
}

.skills__bullets-second {
    display: inline-block;
    vertical-align: top;
}

.skills-bullet__graph-line--redux::after {
    width: 100%;
}

.skills-bullet__graph-line--redux {
    width: 60%;
}

.skills-bullet__graph-line--js {
    width: 60%;
}

.skills-bullet__graph-line--js::after {
    width: 100%;
}

.skills-bullet__graph-line--html {
    width: 60%;
}

.skills-bullet__graph-line--html::after {
    width: 100%;
}

.skills-bullet__graph-line--css3 {
    width: 60%;
}

.skills-bullet__graph-line--css3::after {
    width: 100%;
}

.skills-bullet__graph-line--nodejs {
    width: 60%;
}

.skills-bullet__graph-line--nodejs::after {
    width: 50%;
}

.skills-bullet__graph-line--express {
    width: 60%;
}

.skills-bullet__graph-line--express::after {
    width: 75%;
}

.skills-bullet__graph-line--mongodb {
    width: 60%;
}

.skills-bullet__graph-line--mongodb::after {
    width: 80%;
}

.skills-bullet__graph-line--gulp {
    width: 60%;
}

.skills-bullet__graph-line--gulp::after {
    width: 85%;
}

.bullets__title {
    margin-bottom: 20px;
}

.education__title {
    display: inline-block;
}

.education__text {
    padding-top: 10px;
    padding-left: 40px;
}

.additional-container {
    margin-bottom: 60px;
}

.resume {
    padding: 41px 41px 0 31px;
}

.resume a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 10px;
    margin-top: 25px;
    cursor: pointer;
    color: #fff;
}

.resume a:hover {
    color: #0b3df7;
    border: 2px solid #0b3df7;
    transition: all 0.3s linear;
}

.resume .svg-inline--fa {
    transform: rotate(0deg);
    margin-right: 10px;
}